{
    "username": "",
    "password": "",
    "hostname": "darwin-dist-44ae45.nationalrail.co.uk",
    "subscribe": "/topic/darwin.pushport-v16",
    "identifier": "iron-swallow-0",
    "database-string": "dbname='ironswallow' user='evelyn'",
    "ftp-hostname": "darwin-dist-44ae45.nationalrail.co.uk",
    "ftp-username": "ftpuser",
    "ftp-password": "",
    "s3-access" : "",
    "s3-secret" : ""
}
