body {
    background-color: #04000b;
    background-image: url(/swallow);
    background-repeat:no-repeat;
    color: #ddf;
    font-family: monospace;
    margin:0;
    width:100%;
}

.container {
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

.content {
    width:        80%;
    margin-left:  auto;
    margin-right: auto;
    border-left:  solid 1px #88f;
    padding-left: 20px;
    padding-top:  10px;
    padding-bottom: 10px;
}

header,footer {
    color:#668;
    margin-left: auto;
    margin-right: auto;
    font-size: 8pt;
}

.message {
    border-left: 1px solid #633;
    padding-left: 5px;
    font-size: 15pt;
}

/* input and so on */

.scheduleform {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

form {
    display: block;
}

input, textarea, select {
    font-family: monospace;
    border: none;
    border-left: solid 1px #88f;
    background-color: inherit;
    color:           #ddf;
    padding-left:5px;
    resize: none;
}
input:focus, textarea:focus, select:focus {
    outline: none;
}

textarea {
    width: 100%;
}

input[type=submit], select {
    color: #aaf;
    text-decoration: underline;
}

label {
        border-left: solid 1px #88f;
        padding-left:5px;
}

label :invalid + span { color: #A44; }

label :valid + span { color: #4A4; }

/* content */

.note {
    border-left: 1px solid #663;
    padding-left: 5px;
}

.notehead {
    display:block;
    color:#787880;
}

.normal {
    color:#ddf;    
}

table {
    margin-top:      10px;
    width:           100%;
    border-spacing:  0;
    border-collapse: collapse;

    font-size: 10pt;
    whitespace: pre;
}

td,th {
    vertical-align: top;
    padding-left:   5px;
    padding-right:  5px;
    text-align:     left;
    white-space:    nowrap;
}

th {
    font-style:     normal;
    font-weight:    lighter;
}

.row-overflow th {
    max-width: 3ch;
    overflow: hidden;
    text-overflow: ellipsis;
}

.row-overflow th:hover {
    max-width: 64ch;
    overflow: visible
}

.headgroup {
    padding:    0px;
    text-align: center;
}

tr.primaryrow:nth-child(odd) {
    background: #04000f;
}

tr.primaryrow:hover {
    background: #08080f;
}

.headrow {
    background-color: #000 !important;
    border-top: none;
    color:#787880;
}

tr {
    box-sizing: border-box;
    width:100%;
    border-top:    solid 1px #060612;
    border-bottom: solid 1px #060612;
}

tr:first-child {
    border-width: 0px;
}

/* Outline table */
.uid      { min-width: 6ch;  }
.stp      { width: 3ch;  }
.operator { width: 100%; }

/* Location only */
.as-required { font-style: italic; }
.origin, .destination {
    max-width: 26ch;
    overflow: hidden;
    text-overflow: ellipsis;
}

.origin:hover, .destination:hover {
    max-width: 64ch;
    overflow: visible;
}

/* Locations table for schedule */
.pass { color:#668; }

.tiploc     { min-width: 7ch;  }
.crs        { min-width: 3ch;  }
.locname    { width: 100%; }
.platform   { min-width: 3ch;  }
.time       { min-width: 5ch;  }
.routepart  { min-width: 3ch;  }
.activities { min-width: 2ch;  }
.distance   { min-width: 1ch;  }
.activity {
    padding-right: 1px;
}

td.associations {
    box-sizing: border-box;
    width:100%;
    border: 1px solid #334;
    border-style: none solid none solid;
    background-color: #020005;
}

table.associations {
    margin-top:0;
    margin-bottom:0;
}

.assoc_assoc { min-width:1ch;}
.assoc_type  { min-width:1ch;}
.assoc_direction { min-width:4ch;}

.borderright { border-right: 1px solid #334; }

.borderleft { border-left: 1px solid #334; }

.passenger { color:#668; }
.operational { color:#668; }

.passenger.highlight { color: #ddf; }

.cancelled { text-decoration: line-through; }

/* General links */
a:link {
    text-decoration: underline;
    color: #aaf;
}

a:visited {
    text-decoration: underline;
    color:           #aad;
    font-weight:     normal;
}

a:hover, a:active {
    text-decoration: underline;
}

/* Responsiveness */

.vertical-only { display:none; }
.flex-break { display:none; }

@media (max-aspect-ratio: 1/1)
{
    .content
    {
        width: 100%;
        margin-left: 0;
        margin-right:0;
        padding-left:0;
        border-left:none;
    }

    .horizontal-only { display:none; }

    .vertical-only { display:inherit; }

    /* Tables go away */    
    .collapse table, 
    .collapse thead, 
    .collapse tbody, 
    .collapse th, 
    .collapse td, 
    .collapse tr { 
        display: block;
        font-size: 9pt;
    }
 
    /* Hide table headers (but not display: none;, for accessibility) */
    .collapse thead tr,
    .collapse th { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
 
    .collapse tr {
        border-top: 1px solid #334;
        display: flex;
        flex-wrap:wrap;
    }

    .collapse td {
        /* Behave  like a "row" */
        border: none;
        position: relative;
        white-space: normal;
        text-align:left;
    }

    .collapse .time {
        flex-basis:12%;
        min-width:6ch;
    }
    .collapse .origin {
        flex-basis:100%;
        width:100%;
    }
    .collapse .destination {
        flex-basis:100%;
        width:100%
    }
 
    /* Make sure horizontal only is truly dead */
    .collapse .horizontal-only {
        display:none;
    }

    /*
    Label the data
    */
    .collapse td:before {
        content: attr(data-title);
        color:#787880;
    }

    .flex-break {
        display:block;
        height:0;
        flex-basis:100%;
    }

    .sched {
        color:#668;
    }

    .collapse-border { border-right: 1px solid #334; }
}



