{% extends "layout.html" %}
{% block title %}/{% endblock %}
{% block content_outer %}
                <section class="scheduleform">
                <form action="/redirect/schedule" method="get">
                    <input type="text" name="uid" placeholder="UID" minlength="5" maxlength="6" pattern="[A-Z]\d{5}|\d{5}" required />
                    <input type="text" name="date" placeholder="yyyy-mm-dd" minlength="10" pattern="2\d{3}-(0\d|1[012])-([012]\d|3[01])" required />
                    <input type="submit" value="Schedule" />
                </form>
                <form action="/redirect/location" method="get">
                    <input type="text" name="code" placeholder="TIPLOC/CRS" minlength="2" maxlength="7" pattern="[A-Z]{3}|\w{4-7}|\d{5}" required />
                    <input type="text" name="time" placeholder="yyyy-mm-ddThh:mm:ss" minlength="10" pattern="2\d{3}-(0\d|1[012])-([012]\d|3[01])T([0-1]\d|2[0123]):[0-5][0-9]:[0-5][0-9]" />
                    <input type="submit" value="Trains" />
                </form>
                </section>
{% endblock %}
