<!doctype HTML>
<html>
    <head>
        {% block head %}
        <title>Swallow - {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/style">
        {% endblock %}
    </head>
    <body>
        <section class="container">
            <header>
                {% block header %}
                {% endblock %}
            </header>
            {% block content_outer %}
            <section class="content">
            {% block content %}
            {% endblock %}
            </section>
            {% endblock %}
            <section></section>
            <footer>
                {% block footer %}
                <p>
                    <i>We're getting there.</i>
                </p>
                {% endblock %}
            </footer>
        </section>
    </body>
</html>
