{% extends "layout.html" %}
{% block title %}{{location}} services on {{time.isoformat()}}{% endblock %}
{% block content %}
        {% if message %}
            <section class="message">{{message}}</section>
        {% endif %}
        {% if notes %}
            <section>
                <h1>Query messages</h1>
            {% for note in notes %}
                <div class="note">{{ note }}</div>
            {% endfor %}
            </section>
        {% endif %}
        {% if board["messages"] %}
            <section>
                <h1>Darwin messages</h1>
                {% for message in board["messages"] %}
                <p class="note">
                <span class="notehead"><span class="normal">{{message["category"].ljust(11)}}</span> category message, severity <span class="normal">{{message["severity"]}}</span></span>
                {{ message["message"] |safe}}
                </p>
                {% endfor %}
            </section>
        {% endif %}
            <section>
                <h1>Services</h1>
            <table>
                <tr class="headrow horizontal-only">
                    <th colspan="2" class="headgroup"></th>
                    <th colspan="3" class="headgroup">WTT</th>
                    <th colspan="3" class="headgroup">Darwin</th>
                    <th colspan="7" class="headgroup"></th>
                </tr>
                <tr class="headrow row-overflow">
                    <th class="borderleft">TIPLOC</th>
                    <th class="borderleft borderright">Pl</th>

                    <th class="borderleft">Arr.</th>
                    <th>Pass</th>
                    <th class="borderright">Dep.</th>

                    <th class="borderleft horizontal-only">Arr.</th>
                    <th class="horizontal-only">Pass</th>
                    <th class="borderright horizontal-only">Dep.</th>

                    <th class="borderleft borderright">Activity</th>

                    <th>UID</th>
                    <th>Head</th>

                    <th class="borderleft">Category</th>
                    <th class="borderright">Operator</th>

                    <th class="borderleft">Origin</th>
                    <th class="borderright">Destination</th>
                </tr>
            {% for schedule in board["services"] -%}
                <tr class="primaryrow {{ "pass" if schedule["here"]["times"]["pass"] else ""}} {{ "as-required" if "Q" in "" else "" }}{{" cancelled"*schedule["here"]["cancelled"] }}">
                    <td class="tiploc borderleft">{{ schedule["here"]["tiploc"] }}</td>
                    <td class="platform borderleft borderright"> {{ (schedule["here"]["platform"].get("suppressed",False)*"*" or ' ') + (schedule["here"]["platform"].get("platform") or "") + (schedule["here"]["platform"].get("confirmed",False)*"." or "")}}</td>
                    <td class="time borderleft">
                        {{format_time(schedule["here"], "aw")}}
                        <p class="vertical-only">{{ format_time(schedule["here"], "a.") }}</p>
                    </td>
                    <td class="time">
                        {{ format_time(schedule["here"], "pw")}}
                        <p class="vertical-only">{{ format_time(schedule["here"], "p.") }}</p>
                    </td>
                    <td class="time borderright">
                        {{ format_time(schedule["here"], "dw") }}
                        <p class="vertical-only">{{ format_time(schedule["here"], "d.") }}</p>
                    </td>
                    <td class="time borderleft horizontal-only">{{  format_time(schedule["here"], "a.") }}</td>
                    <td class="time horizontal-only">{{             format_time(schedule["here"], "p.") }}</td>
                    <td class="time borderright horizontal-only">{{ format_time(schedule["here"], "d.") }}</td>
                    <td class="activities borderleft borderright">{{ schedule["here"]["activity"] }}</td>
                    <td class="uid borderleft"><a href="/s/{{schedule["rid"]}}">{{ schedule["uid"] }}</a></td>
                    <td>{{ schedule["signalling_id"] or '' }}</td>
                    <td>{{ schedule["category"] }}</td>
                    <td>{{ schedule["operator"] }}</td>
                    <td class="origin borderleft">
                        {% for origin in schedule["origins"] %}
                            <span class="{{"cancelled" if origin["cancelled"] else ''}}">{{origin["name_full"]}}</span><br>
                        {% endfor %}
                    </td>
                    <td class="destination borderright">
                        {% for destination in schedule["destinations"] %}
                            <span class="{{"cancelled" if destination["cancelled"] else ''}}"><a href="/d/{{destination["tiploc"]}}">{{destination["name_full"]}}</a></span><br>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </table>
            </section>
{% endblock %}
