{% extends "layout.html" %}
{% block title %}{{location}} services on {{time.isoformat()}}{% endblock %}
{% block content %}
        {% if message %}
            <section class="message">{{message}}</section>
        {% endif %}
        {% if notes %}
            <section>
                <h1>Query messages</h1>
            {% for note in notes %}
                <div class="note">{{ note }}</div>
            {% endfor %}
            </section>
        {% endif %}
        {% if board["messages"] %}
            <section>
                <h1>Darwin messages</h1>
                {% for message in board["messages"] %}
                <p class="note">
                <span class="notehead"><span class="normal">{{message["category"].ljust(11)}}</span> category message, severity <span class="normal">{{message["severity"]}}</span></span>
                {{ message["message"] |safe}}
                </p>
                {% endfor %}
            </section>
        {% endif %}
            <section>
                <h1>Locations</h1>
                <table>
                    <tr class="headrow">
                        <th class="borderleft">TIPLOC</th>
                        <th>CRS</th>
                        <th class="borderright">Name</th>
                    </tr>
                    {% for location in board["locations"].values() %}
                    <tr>
                        <td class="tiploc borderleft">{{ location["tiploc"] }}</td>
                        <td class="crs">{{ location["crs_darwin"] or '' }}</td>
                        <td class="locname borderright">{{ location["name_full"] }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </section>
            <section>
                <h1>Services</h1>
            <table class="collapse">
                <tr class="headrow horizontal-only">
                    <th colspan="3" class="headgroup"></th>
                    <th colspan="3" class="headgroup">WTT</th>
                    <th colspan="3" class="headgroup">Darwin</th>
                    <th colspan="6" class="headgroup"></th>
                </tr>
                <tr class="headrow row-overflow">
                    <th class="borderleft">TIPLOC</th>
                    <th class="borderleft borderright">Pl</th>
                    <th class="borderleft borderright">Activity</th>

                    <th class="borderleft">Arr.</th>
                    <th>Pass</th>
                    <th class="borderright">Dep.</th>

                    <th class="borderleft">Arr.</th>
                    <th class="">Pass</th>
                    <th class="borderright">Dep.</th>

                    <th>UID</th>
                    <th>Head</th>

                    <th class="borderleft">Category</th>
                    <th class="borderright">Operator</th>

                    <th class="borderleft">Origin</th>
                    <th class="borderright">Destination</th>
                </tr>
            {% for schedule in board["services"] -%}
                <tr class="primaryrow {{ "pass" if schedule["here"]["times"]["pass"] else ""}} {{ "as-required" if "Q" in "" else "" }}{{" cancelled"*schedule["here"]["cancelled"] }}">
                    <td data-title="tip" class="tiploc borderleft">{{ schedule["here"]["tiploc"] }}</td>
                    <td data-title="pt." class="platform borderleft borderright"> {{ (schedule["here"]["platform"].get("suppressed",False)*"*" or ' ') + (schedule["here"]["platform"].get("platform") or "") + (schedule["here"]["platform"].get("confirmed",False)*"." or "")}}</td>
                    <td data-title="act" class="activities borderleft borderright">{{ schedule["here"]["activity"] }}</td>

                    <td data-title="arr." class="time borderleft">{{format_time(schedule["here"], "aw")}}</td>
                    <td data-title="pass" class="time">{{ format_time(schedule["here"], "pw")}}</td>
                    <td data-title="dep." class="time borderright">{{ format_time(schedule["here"], "dw") }}</td>
                    <td data-title="arr." class="time borderleft">{{  format_time(schedule["here"], "a.") }}</td>
                    <td data-title="pass" class="time">{{             format_time(schedule["here"], "p.") }}</td>
                    <td data-title="dep." class="time borderright">{{ format_time(schedule["here"], "d.") }}</td>
                    <td data-title="uid"  class="uid borderleft"><a href="/s/{{schedule["rid"]}}">{{ schedule["uid"] }}</a></td>
                    <td data-title="head">{{ schedule["signalling_id"] or '' }}</td>
                    <td data-title="cat.">{{ schedule["category"] }}</td>
                    <td data-title="op.">{{ schedule["operator"] }}</td>
                    <td data-title="origins" class="origin borderleft">
                        {% for origin in schedule["origins"] %}
                            <span class="{{"cancelled" if origin["cancelled"] else ''}}">{{origin["name_full"]}}</span><br>
                        {% endfor %}
                    </td>
                    <td data-title="destinations" class="destination borderright">
                        {% for destination in schedule["destinations"] %}
                            <span class="{{"cancelled" if destination["cancelled"] else ''}}"><a href="/d/{{destination["tiploc"]}}">{{destination["name_full"]}}</a></span><br>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </table>
            </section>
{% endblock %}
