{% extends "layout.html" %}
{% block title %}{{schedule["uid"]}}{% endblock %}
{% block content %}
        {% if message %}
            <section class="message">{{message}}</section>
        {% endif %}
        {% if schedule -%}
        {% for note in notes %}
            <section>
                <h1>Query notes</h1>
                <div class="note">{{ note }}</div>
            </section>
        {% endfor %}
            <table>
                <tr class="headrow">
                    <th colspan="4" class="headgroup"></th>
                    <th colspan="3" class="headgroup">WTT</th>
                    <th colspan="3" class="headgroup">Darwin</th>
                    <th colspan="1" class="headgroup"></th>
                </tr>
                <tr class="headrow row-overflow">
                    <th class="borderleft">TIPLOC</th>
                    <th>CRS</th>
                    <th>Name</th>
                    <th class="borderleft borderright">Pl</th>
                    <th class="borderleft">Arr.</th>
                    <th>Pass</th>
                    <th class="borderright">Dep.</th>
                    <th class="borderleft">Arr.</th>
                    <th>Pass</th>
                    <th class="borderright">Dep.</th>
                    <th class="borderleft borderright">Activity</th>
                </tr>
            {% for location in schedule["locations"] -%}
                <tr class="primaryrow{{ " pass" if location["times"]["pass"] else ''}}{{" cancelled"*location["cancelled"]}}">
                    <td class="tiploc borderleft">{{location["tiploc"]}}</td>
                    <td class="crs">{{ location["crs_darwin"] or "" }}</td>
                    <td class="locname">{{location["name_full"]}}</td>
                    <td class="platform borderleft borderright"> {{location["platform"].get("platform", '')}}
                    <td class="time borderleft">{{  format_time(location, "aw") }}</td>
                    <td class="time">{{             format_time(location, "pw") }}</td>
                    <td class="time borderright">{{ format_time(location, "dw") }}</td>
                    <td class="time borderleft">{{  format_time(location, "a.") }}</td>
                    <td class="time">{{             format_time(location, "p.") }}</td>
                    <td class="time borderright">{{ format_time(location, "d.") }}</td>

                    <td class="activities borderleft borderright">{{ location["activity"] }}</td>
                </tr>
            {% for association in location["associations"] %}
                <tr>
                    <td class="associations" colspan="16">
                        <table class="associations">
                            <tr>
                                <td class="assoc_assoc borderright">{{ association["from"]*"←" or "→" }}</td>
                                <td class="category borderleft">{{ association["category"] }}</td>
                                <td class="uid borderleft">{{ association["assoc"]["rid"] }}</td>
                                <td class="assoc_direction">{{ association["from"]*"←" or "→" }}</td>
                                <td class="tiploc">{{ association["assoc"]["there"]["tiploc"] }}</td>
                                <td class="crs">{{ association["assoc"]["there"]["crs_darwin"] or ''}}</td>
                                <td class="locname">{{ association["assoc"]["there"]["name_full"] }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            {% endfor  %}

            {% endfor %}
            </table>
        {% endif -%}
{% endblock %}
